<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joystick-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,599},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>Joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,524},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>JoystickBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,744},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>about-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,719},{211,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>about-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,736},{211,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>back-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,772},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>back-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,702},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>buy-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,473},{130,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,44}</string>
            </dict>
            <key>buy-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1997},{130,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,44}</string>
            </dict>
            <key>common_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,181},{354,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,57}}</string>
                <key>sourceSize</key>
                <string>{354,57}</string>
            </dict>
            <key>disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,920},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1997},{188,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,45}}</string>
                <key>sourceSize</key>
                <string>{188,45}</string>
            </dict>
            <key>done.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,767},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,849},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>energy-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{174,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,50}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,320},{218,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{218,64}}</string>
                <key>sourceSize</key>
                <string>{288,112}</string>
            </dict>
            <key>game-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,218},{456,171}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{456,171}}</string>
                <key>sourceSize</key>
                <string>{500,175}</string>
            </dict>
            <key>gold-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,473},{190,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>high-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,687},{105,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{105,55}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>low-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,377},{105,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{105,55}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>magnet-prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,395},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>maxon-team.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,214}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{592,214}}</string>
                <key>sourceSize</key>
                <string>{612,232}</string>
            </dict>
            <key>menu-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,767},{65,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{65,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,980},{65,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{65,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,434},{187,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,213}}</string>
                <key>sourceSize</key>
                <string>{187,213}</string>
            </dict>
            <key>mode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,386},{187,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,213}}</string>
                <key>sourceSize</key>
                <string>{187,213}</string>
            </dict>
            <key>near-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{1600,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,189}}</string>
                <key>sourceSize</key>
                <string>{1600,189}</string>
            </dict>
            <key>off-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,320},{105,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{105,55}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>on-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,630},{105,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{105,55}}</string>
                <key>sourceSize</key>
                <string>{113,61}</string>
            </dict>
            <key>play-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,591},{109,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{109,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>play-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,519},{109,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{109,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{122,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,31}}</string>
                <key>sourceSize</key>
                <string>{124,31}</string>
            </dict>
            <key>rank-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,575},{212,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{212,70}}</string>
                <key>sourceSize</key>
                <string>{214,80}</string>
            </dict>
            <key>rank-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,181},{212,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{212,70}}</string>
                <key>sourceSize</key>
                <string>{214,80}</string>
            </dict>
            <key>redshoes-prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,820},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,911},{67,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>set-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,674},{211,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>set-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,695},{211,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>shoes-prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,862},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>soundOffBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,761},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>soundOnBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,702},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>speedShoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,473},{117,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>start-btn-selected-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,391},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>start-btn-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,218},{304,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,80}}</string>
                <key>sourceSize</key>
                <string>{304,80}</string>
            </dict>
            <key>store-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,647},{211,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>store-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,623},{211,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{211,70}}</string>
                <key>sourceSize</key>
                <string>{215,72}</string>
            </dict>
            <key>store.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,665},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>store1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,842},{67,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,68}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{392,177}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{392,177}}</string>
                <key>sourceSize</key>
                <string>{392,191}</string>
            </dict>
            <key>wenzikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,240},{341,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,78}}</string>
                <key>sourceSize</key>
                <string>{341,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pandaRun.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8482fda17dfab415830a6feef30ef52$</string>
            <key>textureFileName</key>
            <string>pandaRun.png</string>
        </dict>
    </dict>
</plist>
